__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
dist_pypi/
dist_pypi_*/
dist_ci*/
build/
.eggs/
*.egg
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.log
.DS_Store
.env
venv/
.venv/
benchmarks/reports/
